.cart-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 40px 20px;
}

.cart-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info p {
  margin: 2px 0;
}

.cart-buttons {
  display: flex;
  gap: 15px;
}

.home-button,
.checkout-button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.add-cart-btn {
  padding: 8px 16px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.add-cart-btn:hover {
  background-color: #ff4500;
  transform: scale(1.05);
}


.checkout-button {
  background-color: #006400;
}

.checkout-button:hover {
  background-color: #00a000;
}
