.products{

  padding: 80px 20px;
  margin-top: 60px;
  background: #f8f8f8;
}

.products-title{

  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;                    /* تكبير المسافة بين البوكسات */
  max-width: 1000px;            /* مساحة أكبر للشبكة */
  margin: 0 auto;
}

.product-card {
  background: white;
  border-radius: 16px;
  padding:20px;
  padding-bottom: 30px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.12);
  transition: 0.3s;
  min-height: 360px; 
}

.product-card:hover {
  transform: translateY(-6px);
}

.product-img {
  width: 100%;
  height: 260px;                /* الصورة أكبر */
  object-fit: cover;            /* تظبط الصورة جوا الإطار */
  border-radius: 12px;
}

.product-name {
  margin-top: 18px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
 