/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root,main {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
